## Условие 1:
Оформляйте ноутбук, используя эти советы:
## Номер задачи - заголовок 2
### Номер подзадачи - заголовок 3
Предоставленные наборы данных оформляйте, как код

## Условие 2:
На складе лежат разные фрукты в разном количестве.\
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [40]:
def total_fruits(**kwargs):
  for values in kwargs.items():
    return print(f'Общее количество фрутов: {sum(kwargs.values())}')

In [41]:
total_fruits(
    apples = 20,
    bananas = 15,
    pineapples = 2
)

Общее количество фрутов: 37

## Условие 3:
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

Используйте list comprehensions

In [42]:
total_costs = [100, 125, -90, 345, 655, -1, 0, 200]

In [46]:
total_costs = [i for i in total_costs if i > 0 ]
print(f'Total costs: {sum(total_costs)}')

Total costs: 1425

## Условие 4:
Даны два списка:

In [126]:
date_of_purchase = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05',
                    '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', 
                    '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18',
                    '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02',
                    '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
                    '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
                    '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', 
                    '2021-10-26', '2021-12-09']

In [127]:
purchase_amounts_by_dates = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 
                             5723, 3701, 4471, 651, 7037, 4274, 6275, 4988,
                             6930, 2971, 6592, 2004, 2822, 519, 3406, 2732,
                             5015, 2008, 316, 6333, 5700, 2887]

### Условие 4.1 
Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [92]:
def november(data1: list, data2: list) -> list:
    
    new_data = []
    
    for i in range(len(data1)-1):
        if '-11-' in data1[i]:
            new_data.append(data2[i])
            
    return new_data

In [95]:
print(f'Выручка у компании в ноябре: {sum(november(date_of_purchase, purchase_amounts_by_dates))}')

Выручка у компании в ноябре: 25098

### Условие 4.2 
Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [132]:
def purchase_amounts_by_month(data1: list, data2: list) -> dict:
    
    profits = {}
    
    for i in range(len(data1)):
        
        if data1[i].split('-')[1] in profits.keys():
            profits[data1[i].split('-')[1]] += data2[i]
        else:
            profits[data1[i].split('-')[1]] = data2[i]
            
    return profits

In [134]:
 print(purchase_amounts_by_month(date_of_purchase, purchase_amounts_by_dates))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}